/*Universal Styles*/

body{
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: .9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nav Bar*/

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 3;
    background-color: black;
    width: 100%;
    top: 0;
}

#nav ul{
    display: flex;
    list-style-type: none;
}

#nav li{
    padding: 0 20px;
}

nav a{
    color: seashell;
}

/*Images*/

#logo{
    display: flex;
    height: 50px;
    padding: 0px;
    margin-left: 10px;
}

/*Mission*/

#mission{
    position: relative;
    top: 50px;
    height: 700px;
    margin-bottom: 150px;
}

#mission-statement{
    background-color: black;
    text-align: center;
    position: absolute;
    width: 1200px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mission-background{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 700px;
    
}

/*Featured Tea*/

#ft-header{
    text-align: center;
}

#ft-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-teas{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.featured-teas img{
    height: 200px;
    width: 300px;
    margin: 0px 0px;
}

#ft-section{
    margin: 50px 150px;
}

/*Locations*/

.location-container{
    background-image: url("images/img-locations-background.jpg");
    height: 550px;
    width: 70%;
    margin: 20px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-box-container{
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.location-boxes{
    width: 300px;
    background-color: black;
    opacity: 1;
    text-align: center;
    margin: 20px 20px;
}

/*Footer*/

.footer{
    text-align: center;
    height: 200px;
    margin-bottom: 25px;
}

#copyright{
    text-align: left;
    margin-left: 20px;
}